# Production environment variables
project_name = "test-project"
environment  = "ENV_NAME"
domain       = "domain.tld" 

# Hetzner configuration for production
hetzner_server_name      = "server-name" 
hetzner_server_type      = "cx22"
hetzner_data_volume_size = 10 
server_location          = "fsn1"      # nbg1 (Nuremberg), fsn1 (Falkenstein), hel1 (Helsinki), ash (Ashburn), hil (Hillsboro)

# Enable secondary IPs for production
hetzner_enable_secondary_ipv4 = false
hetzner_enable_secondary_ipv6 = false
