- name: Ensure dirs
  file: 
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: ansible
    group: sysadmin
  loop: ["{{ apps_root }}", "{{ rendered_dir }}", "{{ sets_dir }}"]
  become: true

- name: Register sync date and time
  ansible.builtin.set_fact:
    sync_datetime: "{{ ansible_date_time.year }}-{{ ansible_date_time.month }}-{{ ansible_date_time.day }}_{{ ansible_date_time.hour }}-{{ ansible_date_time.minute }}-{{ ansible_date_time.second }}"

- name: Sync app repos
  ansible.builtin.git:
    repo: "{{ item.value.repo | default('git@github.com:gbwebdev/gbweb-public-apps--' ~ item.value.name ~ '.git', true)}}"
    dest: "{{ apps_root ~ '/' ~ item.key }}"
    version: "{{ item.value.ref | default('main') }}"
    force: yes
  loop: "{{ apps | dict2items }}"
  loop_control:
    label: "{{ item.value.name | default(item.key) }}"
  register: git_sync_results

- name: Deploy synced apps
  include_tasks: deploy_app.yaml
  when: git_sync_results is defined
  loop: "{{ git_sync_results.results }}"
  loop_control:
    label: "{{ item.item.value.name | default(item.item.key) }}"
  vars:
    changed: "{{ item.changed }}"
    id: "{{ item.item.key }}"
    ref: "{{ item.item.value.ref | default('main') }}"
    type: "{{ item.item.value.type | default('public') }}"
    name: "{{ item.item.value.name | default(item.item.key) }}"
    compose_path: "{{ apps_root ~ '/' ~ item.item.key ~ '/deploy/compose/' ~ inventory_hostname ~ ('/' ~ instance if instance is defined and instance != '' else '') }}"
    calico_path: "{{ apps_root ~ '/' ~ item.item.key ~ '/deploy/calico/' ~ inventory_hostname ~ ('/' ~ instance if instance is defined and instance != '' else '') }}"
    recreate_policy: "{{ item.item.value.recreate_policy | default(global_recreate_policy) }}"

- name: Find existing app directories
  ansible.builtin.find:
    paths: "{{ apps_root }}"
    file_type: directory
    depth: 1
  register: existing_app_dirs

- name: Clean up removed apps
  include_tasks: cleanup_app.yaml
  loop: "{{ existing_app_dirs.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
  when: item.path | basename not in apps.keys()
  vars:
    app_dir: "{{ item.path }}"
    app_id: "{{ item.path | basename }}"
