*filter
-P INPUT DROP
-P OUTPUT ACCEPT
-P FORWARD ACCEPT
:ANSIBLE-SYSTEM - [0:0]
-F ANSIBLE-SYSTEM
## Allow established connections
-A ANSIBLE-SYSTEM -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
## Open SSH port
-A ANSIBLE-SYSTEM -p tcp --dport {{ ssh_port }} -j ACCEPT
COMMIT
